<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>7</TotalTime><Application>LibreOffice/5.3.7.2$MacOSX_X86_64 LibreOffice_project/6b8ed514a9f8b44d37a1b96673cbbdd077e24059</Application><Pages>1</Pages><Words>10</Words><Characters>60</Characters><CharactersWithSpaces>66</CharactersWithSpaces><Paragraphs>4</Paragraphs></Properties>